{% extends 'base.html' %}

{% block title %}
Маршрут
{% endblock %}

{% block content %}
<H2>Маршрут:</H2>
<div class="row">
    <div class="col-md-10 mx-auto my-3">
        <table class="table table-success table-striped">
            <tr>
                <th>Название</th>
                <th>Из какого города</th>
                <th>В какой город</th>
                <th>Время в пути</th>
                <th>Список поездов по маршруту</th>
            </tr>
            <tr>
                <td>
                   {{ object.name}}
                </td>
                <td>
                    {{ object.from_city}}
                </td>
                <td>
                    {{ object.to_city}}
                </td>
                <td>
                    {{ object.travel_times}}
                </td>

                <td>
                    {% for train in object.trains.all %}
                         <p>{{train}}, время в пути {{train.travel_time}}</p>
                    {% endfor %}
                </td>
            </tr>

        </table>
    </div>
</div>

{% endblock %}